<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome User</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        form {
            margin: 20px 0;
        }

        input {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<header>
    <h1>User Details</h1>
</header>
<main>
    <!-- Информация о пользователе -->
    <div class="user-details">
        <h2>User Information</h2>
        <p><strong>Username:</strong> <span th:text="${user.username}">Username Placeholder</span></p>
        <p><strong>Password:</strong> <span th:text="${user.password}">Password Placeholder</span></p>
        <p><strong>Roles:</strong>
            <span th:each="role, iter : ${user.roles}">
                    <span th:text="${role.name}">Role Placeholder</span><span
                    th:if="!${iter.last}">, </span>
                </span>
        </p>
    </div>
</main>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout">
</form>

</body>
</html>