<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>User List</h1>
<a href="/admin/new">Add New User</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Password</th>
        <th>Role</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td><span th:each="role, iter : ${user.roles}">
                    <span th:text="${role.name}">Role Placeholder</span><span
                th:if="!${iter.last}">, </span>
                </span></td>
        <td>
            <form th:action="@{/admin/edit/{id}(id=${user.id})}" th:method="GET">
                <input type="submit" value="Edit"/>
            </form>
            <form th:action="@{/admin/delete/{id}(id=${user.id})}" th:method="DELETE">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout">
</form>
</body>
</html>